.option {
    padding: 1.5rem;
}

.option.selected-answered {
    border: 2px #555 solid;
}

.option.allow-hover:hover{
    background: #eee;
}

.option > .fa-square-o {
    margin-right: 0.25rem;
}

.option > .fa-square {
    margin-right: 0.19rem;
    transition: background .3s, color .3s, opacity .3s;
}

.option > .fa-check {
    margin-right: 0.25rem;
}

.option > .fa-times {
    margin-right: 0.25rem;
}
